html{
  font-size: 18px;
  font-family: Helvetica;
  line-height: 1.4;
}

/*Background photo*/
.bg-image{
  width: 100%;
  height: 30rem;
  display: none;
}

.first{
  background-image: url(./images/glasses-bg.png);
  background-repeat: no-repeat;
  background-position: 70%;
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
}
/*Header line*/
.header{
  margin: 0rem auto;
  width: 960px;
  background-color: cadetblue;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo{
  display: flex;
  justify-content: flex-start;
  padding-left: 1.5rem;
  align-items: center;
}

.logo img{
  height: 1.5rem;
  padding: 0 0.5rem;
}

.logo h1{
  padding: 0 0.5rem;
  color: white;
}

.v1{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: white;
}

.v1 p{
    padding: 1rem 2rem 1rem 0;
}

.v2{
  display: none;
}

.container{
  height: 26.5rem;
  width: 960px;
  margin: 0 auto;
  padding-left: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.phrase{
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  background-color: white;
  padding: 1.5rem 5rem;
  margin-top: 11rem;
}

/*Main part*/
.icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.paper, .ruler, .truck{
  margin: 3rem;
  height: 8rem;
  width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.paper img{
  display: flex;
  width: 3.5rem;
  align-self: center;
}

.ruler img, .truck img{
  display: flex;
  align-self: center;
  width: 5rem;
}

.paper p, .ruler p, .truck p{
  display: flex;
  align-self: center;
  text-align: center;
}

/*2 columns of text*/
.columns{
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.columns h1{
  font-weight: bold;
  font-size: 1rem;
  background-color: cadetblue;
  color: white;
  width: 10rem;
  padding: 0.5rem 1.25rem;
}

.philosophy{
  display: flex;
  flex-direction: column;
  padding-right: 2.5%;
  width: 35%;
}

.appointments{
  display: flex;
  flex-direction: column;
  padding-left: 2.5%;
  width: 35%;
}

.philosophy p{
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.appointments p{
  margin-top: 1rem;
}

/*Footer*/
footer{
  background-color: azure;
  margin: 0px auto;
  width: 960px;
  padding: 4rem;
  display: flex;
  align-items: center;
}

footer img{
  height: 1.5rem;
  padding-right: 1rem;
}

@media only screen and (max-width: 1536px){
  body{
    overflow-x: hidden;
  }

  .first{
    width: 100%;
    padding-top: 0rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 22rem;
  }

  .header{
    width: 100%;
  }

  .container{
    width: 100%;
  }

  .phrase{
    font-size: 1.33rem;
    padding: 1rem 4rem;
    margin-top: 5rem;
    margin-right: 6rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .main, .columns, footer{
    width: 100%;
  }
}

@media only screen and (max-width: 1024px){
  .first{
    width: 100%;
    padding-top: 0rem;
    background-repeat: no-repeat;
    background-position: 20%;
    background-size:cover;
    height: 17rem;
  }

  .v1{
    display: none;
  }

  .v2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: white;
    padding: 1rem 2rem 1rem 0;
  }

  .container{
    width: 100%;
    padding: 0;
  }

  .phrase{
    width: 100%;
    font-size: 1rem;
    padding: 0.88rem 0;
    margin: 9rem 0;
    text-align: center;
  }

  .icons{
    flex-direction: column;
    align-items: center;
    margin: 3.77rem 0;
    font-size: 0.77rem;
  }

  .paper, .ruler{
    margin-bottom: 1.54rem;
  }

  .ruler, .truck{
    height: 6rem;
  }

  .columns{
    flex-direction: column;
  }

  .philosophy, .appointments{
    width: 100%;
    font-size: 0.77rem;
    margin-bottom: 0rem;
    padding: 0;
  }

  .philosophy p, .appointments p{
    margin-bottom: 4rem;
  }
  .columns h1{
    width: 100%;
  }

  footer{
    padding: 4rem 0;
  }

  footer h1{
    display: none;
  }

  footer img{
    margin: 0 auto;
  }
}
